<%= turbo_frame_tag dom_id(word) do %>
<div data-controller="collapse" class="border border-gray-200 rounded-lg dark:bg-gray-900 dark:border-gray-600 collapsible <%= "open" if word.status == "ongoing" %>">
  <div data-action="click->collapse#toggle" class="border border-t-0 border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-600 p-4">
    <span class="text-xl font-bold dark:text-white">
      <%= heading_text(word) %>
    </span>
    <button class="text-xl font-bold dark:text-white float-right toggle">
    </button>
  </div>
  <div class="content">
    <% word.attempts.each do |attempt| %>
      <%= render 'attempts/attempt', word: word, attempt: attempt %>
    <% end %>
    <% (word.attempts.count + 1).upto(word.game.max_attempts) do |pos| %>
      <%= render 'attempts/attempt', word: word, attempt: OpenStruct.new(position: pos) %>
    <% end %>
  </div>
</div>
<% end %>
