<%= turbo_frame_tag dom_id(word) do %>
<div data-controller="collapse" class="border border-gray-200 rounded-lg dark:bg-gray-900 dark:border-gray-600 collapsible <%= "open" if word.status == "ongoing" %>">
  <div data-action="click->collapse#toggle" class="border border-t-0 border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-600 p-4">
    <span class="text-xl font-bold dark:text-white">
      <%= "Word #{word.id}/#{word.game.max_words}" %>
    </span>
    <button class="text-xl font-bold dark:text-white float-right toggle">
    </button>
  </div>
  <div class="content">
    <% word.attempts.each do |attempt| %>
      <%= render 'attempts/attempt', word: word, attempt: attempt %>
    <% end %>
    <% (word.game.max_attempts - word.attempts.count).times do |attempt| %>
      <%= render 'attempts/attempt', word: word, attempt: nil %>
    <% end %>
  </div>
</div>
<% end %>
